.new-chat {
  text-decoration: none;
  line-height: 5vh;
  font-size: 1.2vw;
  font-weight: bold;
  color: white;
  padding: 0 10px;
  display: block;
}

.new-chat:hover{
  border-bottom: solid 0.3vh white;
}


.wrapper{
    display: flex;
    padding: 2vh 8vw;
    background-color: #f8f8f8;
}

 .side-bar{
   width: 25vw;
   height: 80vh;
   background-color: white;
   text-align: center;
   overflow: scroll;
 }

 .side-top{
   color: #333;
   width: 80%;
   font-weight: bold;
   font-size: 1.5vw;
   margin: 1vh auto;
   padding: 1.5vh 0;
   border-bottom: 2px solid #27acd9;
 }
 
 .side-main{
     padding: 0 20px;
     overflow: scroll;
 }

 .room{
     padding: 2vh 0;
     border-bottom: 1px solid #f8f8f8;
 }

 .side-room a{
     color: #333;
     text-decoration: none;
     font-size: 1.3vw;
 }