a {
    text-decoration: none;
  }
  
  .main {
    background: #f8f8f8;
  }
  
  /* 画面上部の画像部分 */
  .title-contents {
    width: 100vw;
    height: 50vh;
    background-image:url('top_image2.png');
    opacity: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5vh 8vw;
    color: black;
  }

  .service-contents{
    text-shadow: 0 0 5px rgba(30,144,255, 0.9);
  }
  
  .service-title {
    text-align: center;
    font-weight: bold;
    font-size: 3.5vw;
  }
  
  .service-explain {
    text-align: center;
    font-weight: bold;
    font-size: 1.8vw;
    line-height: 2vh;
    text-shadow: 0 0 5px rgba(30,144,255, 0.9);
  }

  .btn-border {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2vh 2vw;
    font-weight: bold;
    font-size: 2vw;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    border-radius: 100vh;
    transition: 0.5s;
    cursor: pointer;
  }

  .btn-border:hover {
    color: #27acd9;
    background: #fff;
  }

  /* 強みの部分 */

  .select-reason-contents {
    padding: 5vh 12vw;
  }
  
  .select-reason-contents>.title {
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
    margin-bottom: 5vh;
    position: relative;
  }
  
  .select-reason-contents>.title::after {
    content: '';
    width: 8vw;
    height: 0.5vh;
    background-color: #27acd9;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .reason-lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .reason-lists>.list {
    width: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .list-pict {
    margin-bottom: 20px;
    border-radius: 50px;
    width: 100%;
  }
  
  .reason-list-text {
    font-weight: bold;
    font-size: 1.7vw;
    line-height: 50px;
  }
  
  .reason-list-blue-text {
    color: #3ccace;
  }
  
  .reason-list-description {
    font-size: 1.2vw;
    margin-top: 20px;
  }
  
  /* 共有掲示板一覧表示させる部分 */
  
  .share-board-main{
    padding: 5vh 8vw;
    background: #f9f9f9;
  }

  .share-board-main>.title {
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
    margin-bottom: 5vh;
    position: relative;
  }

  .share-board-main>.title::after {
    content: '';
    width: 8vw;
    height: 0.5vh;
    background-color: #27acd9;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .share-board-body{
    display: flex;
    justify-content: space-around;
  }

  .share-board-left{
    width: 75%;
  }

  .share-board-article{
    width: 90%;
    padding: 2vh 2vw;
    margin-bottom: 2vh;
    border-radius: 10px;
    border: 1px solid #27acd9;
    background-color: white;
  }


  .share-board-title{
    text-decoration: none;
    color: #333;
    font-size: 1.8vw;
    font-weight: bold;
  }

  .share-board-category{
    margin: 1vh 0;
    font-size: 1vw;
  }

  .share-board-other{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
  }

  .share-board-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .share-board-author-image{
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
  }

  .share-board-author-name{
    text-decoration: none;
    color: #333;
    font-size: 1vw;
  }

  /* 右側の部分 */

  .share-board-right{
    width: 25%;
  }

  .board-category{
    background-color: white;
    border-radius: 10px;
    padding: 0.5vh 1vw;
    font-size: 1vw;
  }

  .board-category>.title{
    text-align: center;
    font-weight: bold;
    font-size: 1.3vw;
    padding: 1.3vh 0;
    margin-bottom: 1vh;
    border-bottom: 1px solid #3ccace;
  }

  .category-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vw;
    margin-bottom: 5px;
  }

  .category-name{
    line-height: 3vw;
  }

  .category-image{
    width: 3vw;
    height: 3vw;
    padding: 0.3vw;
    margin-right: 10px;
    line-height: 3vw;
  }

  /* .category-post-number{
    text-align: right;
  } */

  .user-number{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3vw;
    line-height: 3vw;
    margin-bottom: 5px;
  }

  .board-user{
    background-color: white;
    margin-top: 2vh;
    border-radius: 10px;
    padding: 0.5vh 1vw;
    font-size: 1vw;
  }

  .board-user>.title{
    text-align: center;
    font-weight: bold;
    font-size: 1.3vw;
    padding: 1.3vh 0;
    margin-bottom: 1vh;
    border-bottom: 1px solid #3ccace;
  }

  .user-image-icon{
    width: 3vw;
    height: 3vw;
    padding: 0.3vw;
    margin-right: 10px;
    line-height: 3vw;
  }

  /* 検索結果がなかった時 */

  .no-search{
    margin-top: 5vh;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
  }

/* レスポンシブ */

  /* タブレット表示時 */
/* @media (max-width: 1000px) {
  
} */

/* スマホ表示時 */
@media (max-width: 500px) {
  .title-contents {
    width: 100vw;
    height: 20vh;
    background-image:url('top_image2.png');
    opacity: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5vh 8vw;
    color: black;
  }
  .service-title{
    font-size: 15px;
  }
  .service-explain{
    font-size: 10px;
    line-height: 10px;
  }
  .btn-border {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    border-radius: 100vh;
    transition: 0.5s;
    cursor: pointer;
  }

  /* 強みの部分 */

  .select-reason-contents {
    padding: 0 12vw;
  }
  
  .select-reason-contents>.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5vh;
    position: relative;
  }
  
  .select-reason-contents>.title::after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #27acd9;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .reason-lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .reason-lists>.list {
    width: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .list-pict {
    margin-bottom: 5px;
    border-radius: 50px;
    width: 33%;
  }
  
  .reason-list-text {
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
  }
  
  .reason-list-blue-text {
    color: #3ccace;
  }
  
  .reason-list-description {
    font-size: 10px;
    margin-top: 10px;
  }
  
  /* 共有掲示板一覧表示させる部分 */
  
  .share-board-main{
    background: #f9f9f9;
  }

  .share-board-main>.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5vh;
    position: relative;
  }

  .share-board-main>.title::after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #27acd9;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .share-board-body{
    display: flex;
    justify-content: space-around;
  }

  .share-board-left{
    width: 75%;
  }

  .share-board-article{
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #27acd9;
    background-color: white;
  }


  .share-board-title{
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: bold;
  }

  .share-board-category{
    margin: 5px 0;
  }

  .share-board-other{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .share-board-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }

  .share-board-author-image{
    width: 20px;
    margin-right: 5px;
  }

  .share-board-time{
    display: none;
  }

  .share-board-author-name{
    text-decoration: none;
    color: #333;
  }

  /* 右側の部分 */

  .share-board-right{
    width: 20%;
    display: none;
  }

  .board-category{
    background-color: white;
    border-radius: 10px;
  }

  .board-category>.title{
    text-align: center;
    font-size: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #3ccace;
  }

  .category-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-bottom: 5px;
  }

  .category-name{
    line-height: 20px;
  }

  .category-image{
    width: 30px;
    padding: 3px;
    margin-right: 10px;
    line-height: 30px;
  }

  /* .category-post-number{
    text-align: right;
  } */

  .user-number{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    margin-bottom: 5px;
  }

  .board-user{
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 20px;
  }

  .board-user>.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #3ccace;
  }

  .user-image-icon{
    width: 30px;
    padding: 3px;
    margin-right: 10px;
    line-height: 30px;
  }

  /* 検索結果がなかった時 */

  .no-search{
    margin-top: 5vh;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }
}