.share-post-main{
    padding: 5vh 15vw;
    background-color: #f8f8f8;
}

.share-post-group{
    margin-bottom: 3vh;
}

.share-post-flex{
    display: flex;
}

.share-post-image{
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 1vw;
}

.share-post-flex>.title{
    font-size: 1.5vw;
    font-weight: bold;
    height: 2.5vw;
    line-height: 2.5vw;
}

.share-post-field{
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
    padding-left: 2vw;
    font-size: 1.0vw;
}

.select-box{
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
    padding-left: 2vw;
    font-size: 1.0vw;
}

.share-post-area{
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
    padding: 1vh 2vw;
    font-size: 1.0vw;
}

.share-submit-btn {
    display: block;
    width: 50%;
    text-align: center;
    text-decoration: none;
    margin: 2vh auto 0;
    padding: 2vh 2vw;
    font-weight: bold;
    font-size: 2vw;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    border-radius: 100vh;
    transition: 0.5s;
    cursor: pointer;
  }

  .share-submit-btn:hover {
    color: #27acd9;
    background: #fff;
  }