.share-show-main{
    padding: 5vh 10vw;
    background-color: #f8f8f8;
}

.share-show-white{
    border-radius: 10px;
    background-color: white;
    padding: 3vh 5vw;
}

.share-show-user{
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    font-size: 1vw;
}

.share-show-image{
    width: 3.5vw;
    height: 3.5vw;
    margin-right: 3vw;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: white;
}

.share_comments{
    padding-top: 20px;
    font-size: 1vw;
    border-top: 2px solid #27acd9;
}

.comments_lists{
    padding: 20px;
}

.comment-flex{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.comment_user{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: white;
    margin-right: 20px;
}

.share-post-content{
    margin-top: 10px;
    font-size: 1vw;
}

.form_btn {
    display: block;
    width: 50%;
    text-align: center;
    text-decoration: none;
    margin: 2vh auto 0;
    padding: 2vh 2vw;
    font-weight: bold;
    font-size: 2vw;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    border-radius: 100vh;
    transition: 0.5s;
    cursor: pointer;
  }

  .form_btn:hover {
    color: #27acd9;
    background: #fff;
  }

/* 詳細ページのみのヘッダー */

.share-edit-btn {
    text-decoration: none;
    line-height: 5vh;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    padding: 0 0.5vw;
    display: block;
  }
  
  .share-destroy {
    text-decoration: none;
    line-height: 5vh;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    padding: 0 0.5vw;
    display: block;
  }

  .share-edit-btn:hover,
  .share-destroy:hover{
    border-bottom: solid 0.3vh #27acd9;
    color: #27acd9;
  }

  /* ユーザーの詳細表示で何もなかった時 */
  .no-post-title{
    margin-top: 5vh;
    text-align: center;
    font-size: 20px;
  }

