 .footer {
    width: 100vw;
    padding: 5vh 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
  }
  
  .logo-footer {
    width: 20vh;
    vertical-align: bottom;
  }
  
  .right_footer {
    font-size: 14px;
    margin-left: 30px;
  }