<div class='footer'>
  <div class="left_footer">
    <%= link_to image_tag("puroera_header.png", class:"logo-footer"), "#" %>
  </div>
  <div class="right_footer">
    <p>© PUROERA COPY RIGHT</p>
  </div>
</div>