<%= render "shared/third_header" %>
<div class='wrapper'>
  <div class='side-bar'>
    <div class="side">
      <div class="side-top">
        チャットリスト
      </div>
      <div class="side-main">
          <% current_user.rooms.each do |room| %>
            <div class="room">
                <div class="side-room">
                  <%= link_to room.name, room_messages_path(room) %>
                </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="main-chat">
  </div>
</div>