.user-list-body{
    padding: 2vh 8vw;
}

.user-list-body>.title {
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
    margin-bottom: 5vh;
    position: relative;
  }
  
  .user-list-body>.title::after {
    content: '';
    width: 150px;
    height: 4px;
    background-color: #27acd9;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .user-lists{
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
  }

  .user-list-block{
    width: 15vw;
    margin: 10px 5px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    color: #5A5E66;
    border: 2px solid #27acd9;
}

.user-list-block:hover{
    background-color: #DAE3F2;
}

.user-list-image{
    width: 80%;
    border-radius: 50%;
    margin: 10px 0;
    border: 2px solid #ccc;
    background-color: white;
}

.user-list-nickname{
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
}