  .registration-main {
    width: 100%;
    min-width: 800px;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
  }
 
 .second-header {
    width: 100%;
    min-width: 800px;
    height: 15vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .second-logo {
    width: 18vw;
  }

  .form-wrap {
    width: 70%;
    background-color: white;
    padding-bottom: 50px;
    margin-bottom: 30px;
  }
  
  .form-header {
    width: 100%;
    height: 15vh;
    text-align: center;
    font-size: 22px;
  }

  .form-header-text {
    line-height: 15vh;
    border-bottom: 1px solid #f5f5f5;
    font-weight: bold;
    font-size: 2.0vw;
    color: #16c0de;
  }

  .preview-image{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: white;
    margin-top: 10px;
  }

  .img-upload{
    text-align: center;
    line-height: 3.3vw;
  }
  
  .indispensable{
    background-color: #27acd9;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    padding: 5px;
  }

  .form-input-text{
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 2.5vh;
  }

  .form-input-image{
    width: 3.3vw;
    height: 3.3vw;
    padding: 10px;
    opacity: 50%;
    margin: 0 5px;
  }

  .input-default {
    width: 100%;
    height: 3.3vw;
    padding: 10px 16px 8px;
    border-radius: 0 4px 4px 0;
    border: none;
    border-left: 1px solid #ccc;
    background: #f9f9f9;
    font-size: 1.3vw;
    resize: none;
  }
  
  .form-group {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .form-group:first-child {
    padding: 0;
  }
  
  .form-text-wrap {
    width: 100%;
    height: 20%;
    margin-bottom: 5px;
  }
  
  .form-text {
    font-size: 14px;
    font-weight: bold;
  }
  
  .field_with_errors {
    display: contents;
  }

  .info-text {
    color: #888;
    font-size: 15px;
    margin-top: 3px;
  }
  
  .form-bottom-text {
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
  }
  
  .form-bottom-text:last-child {
    margin: 0;
    padding-bottom: 50px;
  }
  
  .form-bottom-text>span {
    color: #0099e8;
    cursor: pointer;
  }
  
  .register-btn {
    width: 50%;
    margin: 8vh auto 0;
  }
  
  .register-blue-btn {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 2.5vh 3vw;
    font-weight: bold;
    font-size: 1.8vw;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    border-radius: 100vh;
    transition: 0.5s;
    cursor: pointer;
  }

  .register-blue-btn:hover {
    color: #27acd9;
    background: #fff;
  }
  
  .register-info {
    margin: 30px 180px 0 0;
    color: #0099e8;
    text-align: right;
    cursor: pointer;
  }

  .already-get-text{
    text-align: center;
    margin-top: 3vh;
    color: #333;
    font-size: 1.2vw;
  }


  .second-footer {
    width: 100vw;
    padding: 5vh 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  .second_left_footer {
    width: 20vh;
    vertical-align: bottom;
  }
  
  .second_right_footer {
    font-size: 14px;
    margin-left: 30px;
    color: #333;
  }